@using TaskManager.Consts;
@using TaskManager.Web.Models.Tasks
@model TaskDetailsViewModel

@{
    ViewData["Title"] = "Детали задачи";
    var userMap = Model.Usernames;
}

<div class="container">
    <h1 class="task-title">@Model.Task.Title</h1>
    <h3 class="mt-4">Вложения</h3>
    @if (!Model.Attachments.Any())
    {
        <p>Нет вложений</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var file in Model.Attachments)
            {
                <li class="list-group-item">
                    <a asp-controller="Attachments"
                        asp-action="Download"
                        asp-route-taskId="@Model.Task.TaskId"
                        asp-route-attachmentId="@file.AttachmentId"
                        asp-route-fileName="@file.FilePath">@file.FilePath</a>
                </li>
            }
        </ul>
    }
    
    @if (!string.IsNullOrWhiteSpace(Model.Task.Description))
    {
        <p>@Model.Task.Description</p>
    }

    <div class="task-meta">
        @if (Model.Task.Deadline.HasValue)
        {
            <div>Срок: @Model.Task.Deadline.Value.ToString("dd.MM.yyyy")</div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Task.LastStatus))
        {
            <div>Статус: @Model.Task.LastStatus</div>
        }
    </div>

    <h3>История изменений и комментарии</h3>
    @if (!Model.Logs.Any())
    {
        <p>Нет истории</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var log in Model.Logs.OrderByDescending(l => l.DateUpdate))
            {
                var isComment = log.Status == TaskStatuses.Empty.ToString();
                var username = userMap.ContainsKey(log.UserId.ToString() ?? "-1") ? userMap[log.UserId.ToString() ?? "-1"] : "Неизвестный";

                <li class="list-group-item">
                    <strong>@username</strong>:
                    @if (isComment)
                    {
                        <span>оставил комментарий: "@log.Comment"</span>
                    }
                    else
                    {
                        <span>изменил статус на <strong>@log.Status</strong></span>
                        @if (!string.IsNullOrWhiteSpace(log.Comment))
                        {
                            <br />
                            <small>Комментарий: "@log.Comment"</small>
                        }
                    }
                    <div><small>@log.DateUpdate?.ToString("g")</small></div>
                </li>
            }
        </ul>
    }


</div>
